.ButtonIco{
    display: inline-block;
    height: 24px;
    line-height: 24px;
    background-color:#6DFFC2;
    padding: 2px 8px;
    border-radius: 4px;
    font-weight: bold;
    font-size: 14px;
    font-weight: 400;
    width: 100px;
    margin-right: 24px;
}

.ButtonIco:hover{
  cursor: pointer;
}

.button-title{
  position: relative;
  float: left;
}

.small-ico{
  position: relative;
  float: right;
  margin-top: 3px;
  width: 14px;
  height: 14px;
}

.simulator-button {
  margin-top: 20px;
  display: inline-block;
  margin-right: 20px;
  width: 40px;
  height: 40px;
  font-size: 32px;
}
