.MapView {
    border: 2px solid #6DFFC2;
    width: 100%;
    margin-top: 3px;
    margin-bottom: 30px;
    border-radius: 7px;
    overflow: hidden;
    height: calc(100vh - 300px) !important;
    pointer-events: all;
}

.MapDepoMarker {
    width: 20px;
    height: 20px;
    fill: red;
}

.leaflet-div-icon {
    background: #802c2c;
    border: 1px solid #666;
}

.map-hint {
    font-family: 'Mont';
    width: 100%;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 600;
}