.dropdown {
     position: relative;
     display: inline-block;
     z-index: 10000;
}

ul {
     position: absolute;
     display: block;
     list-style-type: none;
     margin: 0;
     padding: 0;
     top: 45px;
     margin-right: 5px;
     background-color: white;
     font-weight: bold;
     width: 300px;

     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
     z-index: 1;
}

li a {
     color: #000;
     text-decoration: none;
}

li {
     padding: 8px 16px;
     border-bottom: 1px solid #e5e5e5;
}

li:last-child {
     border-bottom: none;
}

li:hover {
     background-color: #e5e5e5;
     color: white;
}

.button{
     display: block;
     text-align: left;
     width: calc(100% - 5px);
     height: 18px;
     background-color:#6DFFC2;
     padding: 12px;
     border-radius: 5px;
     font-weight: bold;
     color:black;
     font-size: 15px;
     font-weight: 700;
}

.button:before{
     content:"";
     position:absolute;
     width: 0px;
     height: 0px;
     border: 5px solid;
     border-color: black transparent transparent transparent;
     right: 3px;
     top: 18px;
}
