.upload-block{
  margin-top: 35px;
  position: relative;
  float: left;
  width: 40%;
  height: 100vh;
  padding: 24px;
  padding-top: 48px;
  background: white;
}

.drop-area{
  margin-top: 34px;
  margin-bottom: 44px;
  width: 300px;
  height: 300px;
  border: 2px #6DFFC2 dashed;
  border-radius: 5px;
  padding: 30px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.drop-area_none{
  margin-top: 24px;
  margin-bottom: 24px;
  width: 300px;
  height: 300px;
  border: 2px #8d8d8d dashed;
  border-radius: 5px;
  padding: 24px;
  text-align: center;
}

.drop-area-center{
  margin-top: 48px;
  padding-left: 40px;
  padding-right: 40px;
  width: calc(100% - 80px);
}

.upload-icon{
  position: relative;
  margin-right: 10px;
}

.upload-icon-text{
  font-family: 'Mont';
  font-size: 13px;
  display: block;
  position: relative;
  float: right;
  height: 70px;
  padding-top: 30px;
}

.upload-block__title{
  font-family: 'Mont';
  width: 100%;
  text-align: center;
  font-weight: 600;
}

.upload-block__title_file{
  font-weight: 900;
}

.upload-block__place-to-drag-and-drop{

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}





.example-2{
  position: relative;
  margin-top: 24px;
}

.example-2 .btn-tertiary{
  font-size: 14px;
  color:#555;
  padding:0;
  background: #6DFFC2;
  line-height:40px;
  border-radius: 5px;
  width:200px;
  margin:auto;
  height: 54px;
  display:block;
  box-shadow: 0px 6px 10px 6px #6DFFC233;
}

.example-2 .btn-tertiary:hover,.example-2 .btn-tertiary:focus{
  box-shadow: 0px 6px 12px 8px #6DFFC255;
}
.example-2 .input-file{
  width:.1px;height:.1px;
  opacity:0;overflow:hidden;
  position:absolute;
  z-index:-1
}
.example-2 .input-file + .js-labelFile {
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  padding: 0 0px;
  line-height: 50px;
  text-align: center;
  font-weight: 800;
  cursor: pointer;
}

.example-2 .input-file + .js-labelFile .icon:before{
  content:"\f093"
}
.example-2 .input-file + .js-labelFile.has-file .icon:before{
  content:"\f00c";color:#5AAC7B
}


.DownloadButton{
  display: block;
  font-size: 14px;
  margin: auto;
  border: 2px solid #6DFFC2;
  border-radius: 5px;
  height: 54px !important;
  font-weight: 900;
  color: black;
  line-height: 54px;
  text-align: center;
  width: 350px;
  text-decoration: none;
}

.DownloadButton:hover{
  background: #6DFFC2;
  color: black;
  cursor: pointer;
}
