.resume {
  margin-top: 35px;
  position: relative;
  float: right;
  width: calc(60% - 105px);
  padding: 24px;
  padding-top: 48px;
  background: white;
  font-size: 14px;
}

.resume-title{
    line-height: 29px;
    font-size: 28px;
    font-weight: 600;
    font-family: 'Mont';
}


.resume__left-col{
  position: relative;
  display: inline-block;
  width: calc(50% - 24px);
  padding-right: 24px;
}


.resume__right-col{
  position: relative;
  display: inline-block;
  padding-right: 24px;
  width: calc(50% - 24px);
}

.resume-subtitle {
  padding-top: 20px;
  width: 100%;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 21px;
  color: #1d1f1e;
  font-family: 'Mont';
}

.resume-title-item{
  margin-top: 14px;
  height: 20px;
  line-height: 20px;
  position: relative;
  width: 100%;
  display: inline-block;
  overflow: hidden;
}


.resume-title-item-param{
  position: relative;
  float: right;
  margin-right: 24px;
  font-weight: 900;

  display: inline-block;
}


.resume-title-item__word{
  position: relative;
  display: inline-block;
  float: left;
}

.resume table {
  width: 100%;
  border-spacing: 0px;
}

.caption {
  width: 1%;
  white-space: nowrap;
}

.dots {
  position: relative;
    display: inline-block;
    float: left;
  width: calc(100% - 24px);
  margin-left: 12px;
  height: 13px;
  border-bottom: 2px dotted gray;
}

button {
  margin-top: 30px;
  font-size: 14px;
  font-weight: 800;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 0px;
  line-height: 50px;
  text-align: center;
  font-weight: 900;
  cursor: pointer;
  color: rgb(34, 34, 34);
  padding: 0;
  background: #6DFFC2;
  line-height: 40px;
  border-radius: 5px;
  width: 180px;
  height: 45px;
  border: none;
  display: block;
}

.loader {
}

.loader-el {
  display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 100%;
	margin: 20px;
	animation: bounce 2.0s 1.0s linear infinite;
  background-color: #6DFFC2;
}

.loader-el-1 {
	animation-delay: 0.1s;
}

.loader-el-2 {
	animation-delay: 0.2s;
}

.loader-el-3 {
	animation-delay: 0.3s;
}

.loader-el-4 {
	animation-delay: 0.4s;
}

.loader-el-5 {
	animation-delay: 0.5s;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


@keyframes bounce {
	0%, 50%, 100% {
		transform: scale(1);
		filter: blur(5px);
	}
	25% {
		transform: scale(0.3);
		filter: blur(10px);
	}
	75% {
		filter: blur(0px);
		transform: scale(2.0);
	}
}

.resume-status {
  margin-top: 10px;
  font-size: 11px;
  color: #9c9c9c;
}

.resume-action {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 50px;
  padding: 5px;
  background-color: white;
  color: #242424;
  border: 2px solid #6DFFC2;
  margin-right: 3px;
}

.resume-action:hover {
  background-color: #6DFFC2;
}

.simulator-button {
  margin-top: 20px;
  display: inline-block;
  margin-right: 20px;
  width: 40px;
  height: 40px;
  font-size: 14px;
  font-weight: 800;
  background-color: white;
  border: 1px solid #6DFFC2;
}

.simulator-button:hover {
  background-color: #6DFFC2;
}

.leaflet-popup-content-wrapper {
  border-radius: 10px;
  background-color: white;
  box-shadow: none;
}

.leaflet-popup-close-button {
  display: none;
}