.header__logo{
    padding-left: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    color: black;
    font-weight: 900;
    font-size: 24px;
    line-height: 31px;
    font-family: 'Mont';
}

.header__logo:hover{
    cursor: pointer;
}
